<p id="notice"><%= notice %></p>

<h1>Listing Incidents</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Creation date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr class='incident-tab' data-link='<%= incident_path(incident) %>' style="cursor: pointer">
        <td><%= incident.created_at.strftime("%d/%m/%Y  -  %H:%M") %></td>
        <td><%= incident.title %></td>
        <td><%= incident.description %></td>
        <% if  incident.status == "open" %>
            <td><span class="label label-danger"><%= incident.status %></span></td>
        <% else  incident.status == "closed" %>
            <td><span class="label label-success"><%= incident.status %></span></td>
        <% end %>
        <!--<td><%= link_to 'Show', incident %></td>-->
        <!--<td><%= link_to 'Edit', edit_incident_path(incident) %></td>-->
        <!--<td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="#" data-toggle="modal" data-target="#myModal" id="reset_modal" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New incident</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render 'form' %>
    </div>
  </div>
</div>