<!--
<p id="notice"><%= notice %></p>


<% if  @incident.status == "open" %>
  <div class="alert alert-danger" role="alert"><%= @incident.title %></div>
<% else  @incident.status == "closed" %>
  <div class="alert alert-success" role="alert"><%= @incident.title %></div>
<% end %>

<div class="jumbotron">
  <p><%= @incident.description %></p>
</div>


<div class="panel panel-default">
  &lt;!&ndash; Default panel contents &ndash;&gt;
  <div class="panel-heading"><h2>Timeline</h2></div>
&lt;!&ndash;   <div class="panel-body">
    <p>...</p>
  </div> &ndash;&gt;

  &lt;!&ndash; List group &ndash;&gt;
<% @incident.events.each do |event| %> 
  <ul class="list-group">
    <li class="list-group-item"><%= event.description %>       <%= event.status %></li>
  </ul>
<% end %>

</div>


<h2>Add an event:</h2>
<%= form_for([@incident, @incident.events.build]) do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.text_area :status %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
-->

<h1><%= @incident.title %></h1>
<hr>

<% if @incident.events.count > 0 %>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Status</th>
    <th>Date</th>    
      <th>Action</th>
  </tr>
  </thead>
 
 <% @incident.events.each do |event| %>
  
  <tbody> 
    <tr>
    <% if  event.status == "open" %>
        <td><p class="red-circle"></p></td>
    <% elsif  event.status == "closed" %>
        <td><p class="green-circle"></p></td>
    <% end %>
      <% if event.created_at %>
      <td><%= event.created_at.strftime("%d/%m/%Y  -  %H:%M") %></td>
      <% end %>
      <td><%= event.description %></td>
    </tr>
  </tbody>
  <% end %>  
</table>
<% end%>

<a href="#" data-toggle="modal" data-target="#myModal" id="reset_modal" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Add an event</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render 'form_for_events' %>
    </div>
  </div>
</div>
