<p id="notice"><%= notice %></p>


<% if  @incident.status == "open" %>
  <div class="alert alert-danger" role="alert"><%= @incident.title %></div>
<% else  @incident.status == "closed" %>
  <div class="alert alert-success" role="alert"><%= @incident.title %></div>
<% end %>

<div class="jumbotron">
  <p><%= @incident.description %></p>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>Timeline</h2></div>
<!--   <div class="panel-body">
    <p>...</p>
  </div> -->

  <!-- List group -->
<% @incident.events.each do |event| %> 
  <ul class="list-group">
    <li class="list-group-item"><%= event.description %>       <%= event.status %></li>
  </ul>
<% end %>

</div>


<h2>Add an event:</h2>
<%= form_for([@incident, @incident.events.build]) do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.text_area :status %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
